@model Project.MVC_.ViewModels.VehicleModelViewModel

@{
    ViewBag.Title = "Create Vehicle Model";
}

<h2>Create Vehicle Model</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Abrv)
        @Html.TextBoxFor(model => model.Abrv, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Abrv)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MakeId, "Make")
        @Html.DropDownListFor(model => model.MakeId, ViewBag.Makes as SelectList, "Select Make", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MakeId)
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a href="@Url.Action("Index", "VehicleModel")" class="btn btn-secondary">Back to List</a>
}