@model Project.MVC_.ViewModels.VehicleModelViewModel

@{
    ViewBag.Title = "Vehicle Model Details";
}

<h2>Vehicle Model Details</h2>

<div class="form-group">
    <label>Name:</label>
    <span>@Model.Name</span>
</div>
<div class="form-group">
    <label>Abbreviation:</label>
    <span>@Model.Abrv</span>
</div>
<div class="form-group">
    <label>Make:</label>
    <span>@Model.MakeName</span>
</div>

<div class="mt-3">
    <a href="@Url.Action("Edit", "VehicleModel", new { id = Model.Id })" class="btn btn-warning">Edit</a>
    <a href="@Url.Action("Delete", "VehicleModel", new { id = Model.Id })" class="btn btn-danger">Delete</a>
    <a href="@Url.Action("Index", "VehicleModel")" class="btn btn-secondary">Back to List</a>
</div>