@model IEnumerable<Project.MVC_.ViewModels.VehicleModelViewModel>
@{
    ViewBag.Title = "Vehicle Models";
}

<h2>Vehicle Models</h2>

<!-- Add a Back to Vehicle Makes link for easy navigation -->
<p>
    @Html.ActionLink("Back to Makes", "Index", "VehicleMake")
</p>

@using (Html.BeginForm("Index", "VehicleModel", FormMethod.Get))
{
    <p>
        Filter by Make:
        @Html.DropDownList("makeId", ViewBag.Makes as SelectList, "All", new { onchange = "this.form.submit();" })
        Search: @Html.TextBox("search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.CurrentSort == "name_desc" ? "" : "name_desc", search = ViewBag.CurrentFilter, makeId = Request["makeId"] })
            </th>
            <th>
                @Html.ActionLink("Abbreviation", "Index", new { sortOrder = ViewBag.CurrentSort == "abrv" ? "abrv_desc" : "abrv", search = ViewBag.CurrentFilter, makeId = Request["makeId"] })
            </th>
            <th>Make</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>@item.MakeName</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int page = ViewBag.Page ?? 1;
    int pageSize = ViewBag.PageSize ?? 10;
    int nextPage = page + 1;
    int prevPage = page - 1;
}
<nav>
    <ul class="pagination">
        @if (page > 1)
        {
            <li><a href="@Url.Action("Index", new { page = prevPage, search = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort, makeId = Request["makeId"] })">&laquo; Previous</a></li>
        }
        <li class="active"><span>@page</span></li>
        <li><a href="@Url.Action("Index", new { page = nextPage, search = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort, makeId = Request["makeId"] })">Next &raquo;</a></li>
    </ul>
</nav>