@model Project.MVC_.ViewModels.VehicleMakeViewModel

@{
    ViewBag.Title = "Create Vehicle Make";
}

<h2>Create Vehicle Make</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Abrv)
        @Html.TextBoxFor(model => model.Abrv, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Abrv)
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a href="@Url.Action("Index", "VehicleMake")" class="btn btn-secondary">Back to Makes</a>
    <a href="@Url.Action("Index", "VehicleModel")" class="btn btn-secondary">Go to Models</a>
}