@model Project.MVC_.ViewModels.VehicleMakeViewModel

@{
    ViewBag.Title = "Delete Vehicle Make";
}

<h2>Delete Vehicle Make</h2>

<div class="alert alert-warning">
    Are you sure you want to delete this Vehicle Make?
</div>

<div class="form-group">
    <label>Name:</label>
    <span>@Model.Name</span>
</div>
<div class="form-group">
    <label>Abbreviation:</label>
    <span>@Model.Abrv</span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "VehicleMake")" class="btn btn-secondary">Back to Makes</a>
    <a href="@Url.Action("Index", "VehicleModel")" class="btn btn-secondary">Go to Models</a>
}